<div class="pagination clearfix">
  
  <ul class="pagination__amount">
    <li class="pagination__title">Товаров:</li>
    <li class="pagination__item">240</li>
  </ul>
  <ul class="pagination__page hidden-md">
    <li class="pagination__prev">
      <a href="" class="link">
        <svg class="icon icon-arrowLineH"><use xlink:href="#arrowLineH"></use></svg>
      </a>
    </li>
    <li class="pagination__item">1</li>
    <li class="pagination__item"><a href="" class="link">2</a></li>
    <li class="pagination__item"><a href="" class="link">3</a></li>
    <li class="pagination__next">
      <a class="link">
        <svg class="icon icon-arrowLineH"><use xlink:href="#arrowLineH"></use></svg>
      </a>
    </li>
  </ul>
  
  <div class="pull-right hidden-md">
    <ul class="pagination__show">
      <li class="pagination__title">
        Показывать по:
      </li>
      <li class="pagination__item"><a class="link" href="">20</a></li>
      <li>50</li>
      <li class="pagination__item"><a class="link" href="">100</a></li>
    </ul>
    <ul class="pagination__view">
      <li class="pagination__item" id="toggleList">
        <svg class="icon icon-list"><use xlink:href="#list"></use></svg>
      </li>
      <li class="pagination__item pagination__view_active" id="toggleTile">
        <svg class="icon icon-tile"><use xlink:href="#tile"></use></svg>
      </li>
    </ul>
  </div>
</div>