.pagination {
  font-size: 13px;
  margin-top: 8px;
  @media @tablet {
    float: right;
    margin-top: 0;
  }
  &__amount {
    @media @tablet {
      margin-top: 11px;
    }
    @media @minTablet {
      padding-top: 5px;
      margin-right: 27px;
      float: left;
    }
  }
  &__page {
    @media @minTablet {
      float: left;
      margin-top: -3px;
      .pagination__prev {
        margin-right: 2px;
      }
      .pagination__item {
        margin: 0 2px;
      }
    }
  }
  &__title {
    color: @lGrey;
  }
  ul {
    display: inline-block;
  }
  li {
    display: inline-block;
  }
  svg {
    font-size: 2.4em;
    vertical-align: middle;
  }
  li {
    color: @lGrey;
    &.pagination__item {
      color: @grey;
    }
  }
  a {
    color: @grey;
  }
  &__item {
    @media @minTablet {
      height: 31px;
    }
  }
  &__next {
    transform: rotate(180deg);
  }
  &__show {
    @media @minTablet {
      margin-right: 19px;
      .pagination__item {
        margin-left: 6px;
      }
    }
  }
  &__view {
    // margin-left: 10px;
    @media @minTablet {
      vertical-align: 1px;
      margin-top: 3px;
      margin-left: 7px;
      > li {
        cursor: pointer;
      }
      svg {
        font-size: 1em;
        fill: @grey;
      }
      &_active {
        svg {
          fill: @orange;
        }
      }
    }
  }
  &__nav {
    background-color: @orange;
    padding: 12px 15px;
    border-radius: 3px;
    &:hover {
      background-color: @orangeP;
    }
    &:active {
      background-color: @orangeH;
    }
    .icon {
      fill: #fff;
      font-size: 1em;
    }
  }
  &__mob {
    border-top: solid 1px @xlGrey;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 -8px;
    li {
      font-size: 16px;
      margin: 0 8px;
      display: inline-block;
    }
  }
}
