.order-form {
  margin-bottom: 30px;
  @media @minTablet {
    border-bottom: solid 1px @xlGrey;
  }
  @media @tablet {
    ul {
      margin-bottom: 25px;
    }
  }
  li {
    line-height: 24px;
    font-size: 14px;
  }
  .select__order,
  .input__default {
    margin-bottom: 15px;
  }
}
.order__title {
  font-size: 18px;
  margin-bottom: 10px;
}
.order {
  @media @tablet {
    padding-bottom: 50px;
  }
  .cell {
    vertical-align: middle;
  }
  &.cart .table-row {
    @media @tablet {
      padding-bottom: 50px;
    }
  }
  .cart__description {
    margin-top: 25px;
    margin-bottom: 0;
    @media @tablet {
      padding-left: 135px;
      margin: 0;
      padding-top: 10px;
    }
  }
}