.cart {
  &__hidden {

    @media @minMobile {
      display: none !important;
    }
    @media @mobile {
      display: inline-block !important;
    }
  }
  .cell__mobile,
  .cart__close {
    // display: table;
    @media @mobile {
      padding-left: 135px;
    }
  }
  &__side {
    margin-top: 50px;
    font-size: 12px;
    line-height: 30px;
    color: @lGrey;
    &_active {
      color: @orange;
    }
  }
  .h2{
    @media @minMobile {
      margin-bottom: 30px;
    }
    
    @media @mobile {
      margin-bottom: 20px;
    }
  }
  &__title {
    @media @minMobile {
      margin-top: 30px;
    }
    
    @media @mobile {
      margin-top: 20px;
    }
    font-size: 18px;
  }
  .icon-close {
    font-size: 1.2em;
    @media @mobile {
      vertical-align: -4px;
      margin-right: 5px;
    }
  }
  &__close {
    cursor: pointer;
    @media @mobile {
      margin-top: 16px;
    }
  }
  &__item {
    font-size: 0;
    line-height: 15px;
    &:last-child {
      @media @minMobile {
        margin-top: 5px;
      }
      @media @mobile {
        margin-top: 15px;
      }
    }
    .name {
      font-size: 13px;
      display: inline-block;
      @media @minMobile {
        width: 84px;
      }
      @media @mobile {
        float: left;
      }
    }
    span:not(.count) {
      font-size: 13px;
    }
  }
  .table {
    @media @minMobile {
      display: table;
      border-collapse: collapse;
      margin-top: 9px;
    }
    @media @mobile {
      margin-top: 18px;
    }
    font-size: 13px;
    width: 100%;
    &-row {
      @media @minMobile {
        display: table-row;
        &.thead {
          color: @lGrey;
          line-height: 30px;
          .cell {
            padding: 0;
            &:last-child {
              text-align: right;
            }
          }
        }
      }
      @media @mobile {
        padding-top: 25px;
        padding-bottom: 23px;
        border-top: solid 1px @xlGrey;
      }

      &.tbody {
        line-height: 20px;
        .cell {
        @media @minMobile {
            border-top: solid 1px @xlGrey;
          }
        }
      }
    }
  }
  .cell {
  @media @minMobile {
      display: table-cell;
      padding: 22px 0 23px;
      &:last-child {
        width: 50px;
      }
    }
    
    vertical-align: top;
  }
  img {
    @media @minMobile {
      max-height: 70px;
      max-width: 70px;
    }
    @media @mobile {
      max-height: 120px;
      max-width: 120px;
    }
    float: left;
    width: auto;
    height: auto;
    // display: table-cell;
  }
  &__info {
    @media @minMobile {
      width: 305px;
      padding-left: 92px;
    }
    @media @mobile {
      width: 100%;
      padding-left: 135px;
      margin-bottom: 10px;
    }
  }
  &__description {
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__footer {
    @media @minMobile {
      margin-top: 10px;
    }
    .clearfix;
    .btn_L {
      padding: 14px 0;
      text-align: center;
      margin-bottom: 10px;
      @media @minMobile {
        width: 235px;
      }
      @media @mobile {
        width: 100%;
      }
    }
  }
  &__eq {
    text-align: right;
    .clearfix;
    @media @mobile {
      padding: 21px 0;
      padding-right: 8px;
      margin-bottom: 31px;
    }
    @media @minMobile {
      padding: 28px 0;
      margin-bottom: 22px;
    }
    
  }
  &_y {
    background-color: fade(@orange, 10%);
  }
  &_o {
    background-color: @xxlGrey;
  }
  &__summ {
    font-size: 14px;

    @media @mobile {
      display: block;
    }
    @media @minMobile {
      display: inline-block;
    }
  }
  &__all {
    @media @minMobile {
      margin-left: 18px;
      margin-right: 30px;
    }
    @media @mobile {
      margin-top: 10px;
    }
    font-size: 16px;
    font-weight: 700;
  }
}