.radio {
  cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: -2px;
    margin-right: 12px;
    .icons;
    .svg-radio;
    .svg-radio-dims;
  }
}
input[type="radio"]:checked+.radio {
  &:before {
    .icons;
    .svg-radio-check;
    .svg-radio-check-dims;
  }
}