<section class="goods-tile">
  <div class="container">
    <div class="row">
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Аксессуары</div>
            <div class="goods-tile__descript hidden-mb">
              Самые разные и полезные аксессуары для смартфонов и прочей носимой техники
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile1.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Смартфоны</div>
            <div class="goods-tile__descript hidden-mb">
              Самые разные и полезные аксессуары для смартфонов и прочей носимой техники
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile2.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Планшеты</div>
            <div class="goods-tile__descript hidden-mb">
              Самые разные и полезные аксессуары для смартфонов и прочей носимой техники
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile3.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Фото/видео техника</div>
            <div class="goods-tile__descript hidden-mb">
              Используй только качественную технику из нашего каталога
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile4.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Автомобильная электроника</div>
            <div class="goods-tile__descript hidden-mb">
              Каталог самых необходимых и уникальных устройств и электроники для вашего авто
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile5.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Транспорт</div>
            <div class="goods-tile__descript hidden-mb">
              Самый разнообразный транспорт на любой вкус и цвет
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile6.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Акустика</div>
            <div class="goods-tile__descript hidden-mb">
              Надоело слушать музыку в наушниках и на слабых колонках? Попробуй крутую акустику из нашего каталога
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile7.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Часы и браслеты</div>
            <div class="goods-tile__descript hidden-mb">
              Часы и браслеты самых известных брендов мира. сделайте себя привлекательнее и ярче
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile8.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Виртуальная реальность</div>
            <div class="goods-tile__descript hidden-mb">
              Попробуй очки виртуальной реальности. Окунись в мир увлекательных приключений.
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile9.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Роботы</div>
            <div class="goods-tile__descript hidden-mb">
              Роботы, которые поразят твой ум и твой разум
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile10.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title">Игрушки</div>
            <div class="goods-tile__descript hidden-mb">
              Игрушки для детей разных возрастов, у нас есть все, что бы ваш ребенок был счастлив
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile11.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title goods-tile__title_new">Новинки</div>
            <div class="goods-tile__descript hidden-mb">
              Здесь вы можете найты самые свежие поступления техники
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile12.jpg">
        </div>
      </div>
      <div class="col col-4 col-6-md">
        <div class="goods-tile__item">
          <div class="goods-tile__wrap">
            <div class="goods-tile__title goods-tile__title_sales">Распродажа</div>
            <div class="goods-tile__descript hidden-mb">
              Здесь вы можете найты самые свежие поступления техники
            </div>
            <a href="" class="btn btn_L btn_black hidden-mb" >Подробнее</a>
          </div>
          <img src="images/goodTile/tile13.jpg">
        </div>
      </div>
    </div>
  </div>
</section>