.goods-tile {
  margin-top: 68px;
  @media @tablet {
    margin-top: 30px;
  }
  &__item {
    position: relative;
    color: @grey;
    margin-bottom: 28px;
    @media @mobile {
      margin-bottom: 22px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__wrap {
    padding: 25px 21px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    @media @tablet {
      padding-top: 11px;
      padding-left: 16px;
    }
  }
  &__title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 16px;
    width: 200px;
    line-height: 28px;
    @media @mobile {
      width: auto;
      line-height: 17px;
      font-weight: 700;
      font-size: 13px;
    }
    &_new {
      color: @green;
    }
    &_sales{
      color: @red;
    }
  }
  &__descript {
    width: 210px;
    font-size: 16px;
    line-height: 21px;
  }
  .btn {
    position: absolute;
    left: 21px;
    bottom: 32px;
  }
}