.catalog-filter {
  padding-right: 15px;
  &__reset {
    cursor: pointer;
    font-weight: normal;
    color: @lGrey;
    text-transform: none;
    font-size: 11px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 19px;
    @media @tablet {
      font-size: 12px;
      margin-top: 25px;
    }
  }
  &__search {
    border-radius: 3px;
    border: solid 1px @xlGrey;
    height: 28px;
    width: 100%;
    margin-top: 20px;
    padding-left: 5px;
  }
  &__toggle {
    cursor: pointer;
    padding-left: 10px;
    transition: all .2s ease-in-out;
    @media @tablet {
      margin-right: 5px;
    }
    &.hide {
      padding-left: 0;
      padding-right: 10px;
      transform: rotate(180deg);
    }
    .icon {
      font-size: .7em;
      @media @tablet {
        font-size: .8em;
      }
      vertical-align: 1px;
      fill: @lGrey;
    }
  }
  &__content {
    margin-top: 4px;
    @media @tablet {
      padding-bottom: 13px;
      margin-bottom: 28px;
    }
    li {
      margin-bottom: 16px;
    }
    border-bottom: solid 1px @xlGrey;
    padding-bottom: 22px;
    margin-bottom: 40px;
  }
  &__range {
    margin-bottom: 30px;
  }

  .noUi-inputs {
    margin-bottom: 15px;
    input {
      background-color: transparent;
      margin-left: 6px;
      width: 84px;
      height: 28px;
      border-radius: 3px;
      border: solid 1px @xlGrey;
      padding-left: 5px;
      @media @tablet {
        width: 100px;
      }
      @media @small {
        width: 80px;
      }
    }
  }
}

@media @tablet {
  .filter {
    float: left;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    overflow: scroll;
    height: 100%;
    padding: 0;
    box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.07);
    .catalog-filter__title,
    .catalog-filter__content {
      padding-left: 20px;
      padding-right: 20px;
    }
    .header__reg {
      padding-left: 20px;
      line-height: 16px;
      a {
        line-height: 14px;
      }
    }
    &__toggle {
      height: 40px;
      padding-top: 13px;
      text-align: center;
      font-size: 12px;
      .icon-filter {
        vertical-align: -3px;
        fill: #fff;
        font-size: 1.2em;
      }
    }
    &_active{
      width: 305px;
      padding-top: 20px;
    }
    &_animate {
      -webkit-transition: left .2s ease-in-out;
      -o-transition: left .2s ease-in-out;
      transition: left .2s ease-in-out;
    }
    &__wrapper {
      z-index: 1000;
      background-color: #fff;
      overflow: hidden;
      position: relative;
    }
    &__content {  /*Default content is hidden*/
      position: absolute;
      height: 100%;
      width: 0;
      left: -100%;
      top: 0;
      &_active {  /*Position showing content*/
        left: 0;
        width: 100%;
        position: relative;
      }
    }
    .footer {
      background-color: @xxlGrey;
    }
  }
}
@media @small {
  .filter_active {
    width: 250px;
  }
}
