<div class="catalog-menu catalog-filter filter">
  <div class="filter__wrapper">
    <div class="filter__content filter__animate">
      <div class="header__reg visible-md">
        <a href="" class="link link_s link_h_orange">Регистрация</a> | <a href="" class="link link_s link_h_orange">Войти</a>
      </div>
      <div class="catalog-filter__title">
        <span class="dropdown__toggle">Наличие</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked">
        <li>
        <input class="hidden" id="1" type="checkbox" name="availab1">
        <label class="checkbox" for="1">В наличии</label>
        </li>
        <li>
          <input class="hidden" id="2" type="checkbox" name="availab2">
          <label class="checkbox" for="2">Под заказ</label>
        </li>
      </ul>
      <div class="catalog-filter__title">
        <span class="dropdown__toggle">Актуальность</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked">
        <li>
        <input class="hidden" id="3" type="checkbox" name="availab1">
        <label class="checkbox" for="3">Новинки</label>
        </li>
        <li>
          <input class="hidden" id="4" type="checkbox" name="availab2">
          <label class="checkbox" for="4">Распродажи</label>
        </li>
      </ul>
      @@include('catalog-filter__range.html')
      <div class="catalog-filter__title">
        <span class="dropdown__toggle">Бренд</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset reset-checked hidden">
          Сбросить
        </span>
        <input type="text" name="" class="catalog-filter__search">
      </div>
      <ul class="catalog-filter__content clear-checked">
        <li>
          <input class="hidden" id="b1" type="checkbox"></input>
          <label for="b1" class="checkbox">Acer (1)</label>
        </li>
        <li>
          <input class="hidden" id="b2" type="checkbox"></input>
          <label for="b2" class="checkbox">Alcatel (26)</label>
        </li>
        <li>
          <input class="hidden" id="b3" type="checkbox"></input>
          <label for="b3" class="checkbox">Apple (64)</label>
        </li>
        <li>
          <input class="hidden" id="b4" type="checkbox"></input>
          <label for="b4" class="checkbox">Archos (1)</label>
        </li>
        <li>
          <input class="hidden" id="b5" type="checkbox"></input>
          <label for="b5" class="checkbox">Asus (1)</label>
        </li>
        <li>
          <input class="hidden" id="b6" type="checkbox"></input>
          <label for="b6" class="checkbox">BenQ (2)</label>
        </li>
        <li>
          <input class="hidden" id="b7" type="checkbox"></input>
          <label for="b7" class="checkbox">Caterpillar (2)</label>
        </li>
        <li>
          <input class="hidden" id="b8" type="checkbox"></input>
          <label for="b8" class="checkbox">HTC (9)</label>
        </li>
        <li>
          <input class="hidden" id="b9" type="checkbox"></input>
          <label for="b9" class="checkbox">lenovo (20)</label>
        </li>
        <li>
          <input class="hidden" id="b10" type="checkbox"></input>
          <label for="b10" class="checkbox">LG (21)</label>
        </li>
        <li>
          <input class="hidden" id="b11" type="checkbox"></input>
          <label for="b11" class="checkbox">Meizu (15)</label>
        </li>
        <li>
          <input class="hidden" id="b12" type="checkbox"></input>
          <label for="b12" class="checkbox">MonsterPad (2)</label>
        </li>
        <li>
          <input class="hidden" id="b13" type="checkbox"></input>
          <label for="b13" class="checkbox">Prestigio (20)</label>
        </li>
        <li>
          <input class="hidden" id="b14" type="checkbox"></input>
          <label for="b14" class="checkbox">Samsung (30)</label>
        </li>
        <li>
          <input class="hidden" id="b15" type="checkbox"></input>
          <label for="b15" class="checkbox">TurboKids (4)</label>
        </li>
        <li>
          <input class="hidden" id="b16" type="checkbox"></input>
          <label for="b16" class="checkbox">TurboPad (3)</label>
        </li>
        <li>
          <input class="hidden" id="b17" type="checkbox"></input>
          <label for="b17" class="checkbox">ZTE (13)</label>
        </li>
        <li>
          <input class="hidden" id="b18" type="checkbox"></input>
          <label for="b18" class="checkbox">Даджет (1)</label>
        </li>
      </ul>
      <div class="catalog-filter__title">
        <span class="dropdown__toggle">Цвет</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked">
        <li>
        <input class="hidden" id="color1" type="checkbox" name="color1">
        <label class="checkbox" for="color1">Зеленый</label>
        </li>
        <li>
          <input class="hidden" id="color2" type="checkbox" name="color2">
          <label class="checkbox" for="color2">Красный</label>
        </li>
      </ul>

      <div class="catalog-filter__title">
        <span class="dropdown__toggle">Размер</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked">
        <li>
        <input class="hidden" id="s1" type="checkbox" name="size1">
        <label class="checkbox" for="s1">маленький</label>
        </li>
        <li>
          <input class="hidden" id="s2" type="checkbox" name="size2">
          <label class="checkbox" for="s2">Большой</label>
        </li>
      </ul>
      <div class="catalog-filter__title">
        <span class="dropdown__toggle">Состав</span>
        <span class="pull-right catalog-filter__toggle dropdown__toggle">
          <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
        </span>
        <span class="pull-right catalog-filter__reset reset-checked hidden">
          Сбросить
        </span>
      </div>
      <ul class="catalog-filter__content clear-checked">
        <li>
        <input class="hidden" id="comp1" type="checkbox" name="comp1">
        <label class="checkbox" for="comp1">Алюминий</label>
        </li>
        <li>
          <input class="hidden" id="comp2" type="checkbox" name="comp2">
          <label class="checkbox" for="comp2">Пластик</label>
        </li>
      </ul>
      <div class="visible-md">
        @@include('../footer/footer.html')
      </div>
    </div>
  </div>
</div>






