<div class="card modal catalog__fast" id="fastView">
  <div class="row">
    <div class="col-6 col">
      <div class="row">
        <div class="card__good__slide col-10-lg col-12-md">
          <div><img class="zoom" data-large="images/good.png" src="images/good.png"></div>
          <div><img class="zoom" data-large="images/catalog/goods2.jpg" src="images/catalog/goods2.jpg"></div>
          <div><img class="zoom" data-large="images/catalog/goods3.jpg" src="images/catalog/goods3.jpg"></div>
          <div><img class="zoom" data-large="images/catalog/goods2.jpg" src="images/catalog/goods2.jpg"></div>
          <div><img class="zoom" data-large="images/catalog/goods3.jpg" src="images/catalog/goods3.jpg"></div>
          <div><img class="zoom" data-large="images/catalog/goods1.png" src="images/catalog/goods1.png"></div>
        </div>
        <div class="card__good__nav col col-2-lg col-12-md">
          <div><img src="images/catalog/goods1.png"></div>
          <div><img src="images/catalog/goods2.jpg"></div>
          <div><img src="images/catalog/goods3.jpg"></div>
          <div><img src="images/catalog/goods2.jpg"></div>
          <div><img src="images/catalog/goods3.jpg"></div>
          <div><img src="images/catalog/goods1.png"></div>
        </div>
      </div>&nbsp;
    </div>

    <div class="col-4 col">
      <div class="card__title">
        Смартфон Samsung Galaxy S8+ (SM-G955FZDDSER), желтый топаз, Samsung
      </div>
      <span class="catalog__label catalog__label_r">нет в наличии</span>
      <div class="goods__price goods__price_xl">55 990 руб.</div>
      <div class="card__info">
        <span>ТОВАР НЕ ПОДЛЕЖИТ ВОЗВРАТУ ПОСЛЕ ПОКУПКИ</span>
        <div class="tooltip__toggle">
          ?
        </div>
      </div>
      <ul class="card__spec">
        <li>Артикул: <span>4046124</span></li>
        <li>Цвет: <span>золотистый</span></li>
        <li>Корпус: <span>моноблок</span></li>
        <li>Операционная система: <span>Android 7.0</span></li>
      </ul>
      <div class="card__color">
        <span>Цвет:</span>
        <ul>
          <li><img src="images/color/color1.png"></li>
          <li><img src="images/color/color2.png"></li>
          <li><img src="images/color/color3.png"></li>
        </ul>
      </div>
      <div class="goods__price goods__price_xl visible-md">55 990 руб.</div>
      <div class="btn btn_L btn_orange">
        добавить в корзину
      </div>
      <div class="card__action">
        <a class="link link_xs catalog__favorite"><svg class="icon icon-heart"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#heart"></use></svg>Отложить на потом</a>
        <a class="link link_xs catalog__compare"><svg class="icon icon-compare"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#compare"></use></svg>Добавить к сравнению</a>
      </div>
    </div>
    <div class="col-2 col">
      <div class="card__brand">
        <img src="images/brand/brand13.png">
        <a href="" class="link__under link link_s">Все товары бренда</a>
      </div>
      <div class="catalog__fast__links">
        
        <div class="card__param">
          <a class="link link_s link_dotted toggle__click">Параметры</a>
          <div class="toggle__content">
            <ul>
              <li><span>Габариты предмета (см):</span> высота: 15.9 см; толщина: 7.4 см; ширина: 7.34 см</li>
              <li><span>Габариты упаковки:</span> глубина упаковки: 9.1 см; ширина упаковки: 8.34 см; высота упаковки: 15.9 см</li>
              <li><span>Тип корпуса:</span> моноблок</li>
              <li><span>Операционная система:</span> Android 7.0</li>
              <li><span>Объем встроенной памяти (Гб):</span> 64</li>
              <li><span>Количество SIM карт:</span> 2</li>
              <li><span>Тип дисплея:</span> AMOLED</li>
              <li><span>Диагональ экрана:</span> 6.2''</li>
              <li><span>Максимальный объем карты памяти:</span> 256</li>
              <li><span>Процессор:</span> Qualcomm Snapdragon 835 MSM8998</li>
              <li><span>Количество ядер процессора:</span> 8</li>
              <li><span>Объем оперативной памяти (Гб):</span> 4</li>
              <li><span>Энергоемкость:</span> элемента питания: 3500 мА*ч</li>
              <li><span>Разрешение экрана:</span> 2960x1440</li>
              <li><span>Модель:</span> Galaxy S8+</li>
              <li><span>Стандарт связи:</span> Wi-Fi; 4G; GSM 1800; GSM 1900; 3G; GSM 900</li>
              <li><span>Камера:</span> основная: 12 Мп</li>
              <li><span>Гарантийный срок:</span> 1год</li>
              <li><span>Аудио:</span> диктофон</li>
              <li><span>Беспроводные интерфейсы:</span> Wi-Fi 802.11a; Bluetooth</li>
              <li><span>Спутниковая навигация:</span> ГЛОНАСС; GPS; BeiDou</li>
              <li><span>Частота:</span> тактовая частота процессора: 2300 МГц</li>
              <li><span>Вес (г):</span> товара с упаковкой: 193 г; товара без упаковки: 173 г</li>
              <li><span>Защитное покрытие экрана:</span> Gorilla Glass 5</li>
              <li><span>Страна бренда:</span> Корея, Республика</li>
              <li><span>Страна производитель:</span> Вьетнам</li>
              <li><span>Комплектация:</span> наушники, зарядное устройство, кабель, смартфон</li>
            </ul>
            <p>Информация о технических характеристиках, комплекте поставки, стране изготовления и внешнем виде товара носит справочный характер и основывается на последних доступных сведениях от производителя</p>
          </div>
        </div>
       
        <div class="card__dev">
          <a class="link link_s link_dotted toggle__click">Условия доставки</a>
          <ul class="toggle__content">
            <li><span class="grey">Ваш населенный пункт:</span> Москва</li>
            <li><span class="grey">Способ доставки:</span> самовывоз, курьер, постамат</li>
            <li><span class="grey">Ближайшая дата доставки:</span> 11.05.2017</li>
            <li><span class="grey">Стоимость доставки:</span><span class="orange"> Бесплатно</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>