<div class="catalog-menu">
  <div class="catalog-menu__title">
    аксессуары
  </div>
  <ul class="catalog-menu__content">
    <li><a class="link link_s link_h_orange" href="">Брелоки-локаторы</a></li>
    <li><a class="link link_s link_h_orange" href="">Внешние жесткие диски</a></li>
    <li><a class="link link_s link_h_orange" href="">Зарядные устройства</a></li>
    <li><a class="link link_s link_h_orange" href="">Кабели</a></li>
    <li><a class="link link_s link_h_orange" href="">Защитные пленки</a></li>
    <li><a class="link link_s link_h_orange" href="">Гарнитуры</a></li>
    <li><a class="link link_s link_h_orange" href="">Колонки</a></li>
    <li><a class="link link_s link_h_orange" href="">Моноподы</a></li>
    <li><a class="link link_s link_h_orange" href="">Элементы питания</a></li>
    <li><a class="link link_s link_h_orange" href="">Флэш-накопители</a></li>
  </ul>
</div>