<div class="catalog-filter__title">
  <span class="dropdown__toggle">Цена</span>
  <span class="pull-right catalog-filter__toggle dropdown__toggle">
    <svg class="icon icon-menuArrow"><use xlink:href="#menuArrow"></use></svg>
  </span>
  <span class="pull-right catalog-filter__reset hidden" id="resetRange">
    Сбросить
  </span>
</div>
<div class="catalog-filter__content">
  <div class="noUi-inputs pull-left">
    <label for="">от</label>
    <input id="input-with-keypress-0"></input>
  </div>
  <div class="noUi-inputs pull-right">
    <label for="">до</label>
    <input id="input-with-keypress-1"></input>
  </div>
  <div class="clearfix"></div>
  <div id="keypress" class="catalog-filter__range"></div>
</div>