.catalog-menu {
  float: left;
  font-size: 12px;
  width: 100%;
  // margin-right: 10px;
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px @xlGrey;
    padding-bottom: 19px;
  }
  &__content {
    margin-top: 19px;
    li {
      padding-bottom: 17px;
      letter-spacing: -.04em;
    }
  }
}