.fancybox-slide {
  .catalog__fast {
    padding: 30px;
  }
}
.catalog { // GOODS ITEMS
  &__image {
    display: block;
    text-align: center;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__fast {
    width: 980px;
    .card__good__slide .slick-slide img {
      max-height: 400px;
      height: 400px;
    }
    &__links {
      line-height: 24px;
      position: relative;
      .card__param,
      .card__dev {
        margin-top: 5px;
      }
      .link {
        color: @grey;
        position: relative;
        &_actvie {
          &:after {
            content: '';
            position: absolute;
            left: -47px;
            background-color: #fff;
            top: 2px;
            z-index: 10000;
            width: 14px;
            height: 14px;
            ---webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:before {
            background-color: #fff;
            left: -47px;
            top: 2px;
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
            border: solid 1px @xlGrey;
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            ---webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
      .toggle__content {
        display: none;
        position: absolute;
        top: -50px;
        left: -370px;
        width: 330px;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
        border: solid 1px @xlGrey;
        padding: 15px;
      }
    }
  }
  @media @tablet {
    margin-top: 28px;
  }
  margin-bottom: 20px;
  font-size: 14px;
  @media @tablet {
    margin-top: 20px;
  }
  &__header {
    @media @tablet {
      margin-bottom: 18px;
      .clearfix;
      .h2{
        float: left;
      }
    }
  }
  &__list {  // GOODS ITEMS LIST
    @media @minMobile {
      height: 120px;
      margin-top: 10px;
      width: 100%;
      overflow: hidden;
      .clearfix;
      .catalog__hover__action {
        float: right;
      }
      .catalog__wrap_bd {
        padding-left: 25px;
        padding-right: 33px;
      }
      .catalog__wrap__info {
        margin-left: 20px;
        float: left;
      }
      .catalog__description {
        margin-bottom: 27px;
      }
      .catalog__title {
        display: block;
        margin-bottom: 9px;
      }
      .goods__price {
        margin-top: 13px;
        font-size: 20px;
        float: right;
      }
      .catalog__img {
        float: left;
        height: 118px;
        width: 118px;
      }
      .catalog__view {  // FAST VIEW BTN LIST
          left: 50%;
          top: 50%;
          margin-left: -94px;
          margin-top: -19px;
      }
      &:hover {
        overflow: visible;
        .catalog__wrap_bd {
          padding-left: 9px;
          padding-right: 19px;
          left: 15px;
          width: calc(~'100% - 28px');
          height: 200px;
        }
      }
      .catalog__hover__img {
        float: left;
        max-width: calc(~'100% - 205px');
        li {
          display: inline-block;
        }
      }
    }
  }
  &__tile {  // GOODS ITEMS TILE
    .col-4;
    @media @minMobile {
      min-height: 380px;
      .catalog__hover__img {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 10px;
        padding-top: 10px;
      }
      .catalog__view {  // FAST VIEW BTN TILE
        left: 100px;
        top: 125px;
        z-index: 10;
      }
      &:hover {
        .catalog__wrap_bd {
          width: 339px;
          left: -54px;
          padding-left: 68px;
          padding-right: 14px;
          padding-bottom: 21px;
          min-height: 100%;
        }
      }
      .catalog__title {
        margin-bottom: 7px;
      }
      .catalog__label {
        float: right;
      }
      .goods__price {
        float: left;
      }
      .catalog__img {
        height: 275px;
        width: 255px;
        padding-top: 20px;
      }
      .catalog__description {
        min-height: 38px;
        line-height: 19px;
        margin-bottom: 8px;
      }
    }
  }

  &_animate {
    @media @minMobile {
      transition: opacity .3s ease-in-out;
      -webkit-transition: opacity .3s ease-in-out;
      -o-transition: opacity .3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
  }
  &__view {  // FAST VIEW BTN
    @media @minMobile {
      background-color: rgba(255,255,255,.8);
      border: solid 1px @lGrey;
      cursor: pointer;
      height: 38px;
      line-height: 38px;
      position: absolute;
      right: auto;
      text-align: center;
      vertical-align: middle;
      width: 188px;
    }
  }
  &__wrap {  // GOODS ITEMS TILE & LIST WRAP
    position: relative;
    @media @mobile {
      border-top: solid 1px @xlGrey;
      height: auto;
      padding-top: 10px;
      margin-bottom: 18px;
      width: 100%;
      overflow: hidden;
      .clearfix;
      .catalog__wrap__info {
        float: left;
        width: 100%;
        margin-left: -112px;
        padding-left: 133px;
      }
      .catalog__label {
        float: right;
      }
      .catalog__description {
        margin-bottom: 9px;
      }
      .catalog__title {
        display: block;
      }
      .goods__price {
      }
      .catalog__img {
        float: left;
        height: 118px;
        width: 112px;
      }
      .catalog__hover__action {
        margin-left: 133px;
        margin-top: 8px;
        float: right;
        float: left;
        display: block;
      }
    }
    @media @small {
      .catalog__img {
        float: left;
        width: 70px;
      }
      .catalog__wrap__info {
        margin-left: -70px;
        padding-left: 105px;
      }
      .catalog__hover__action {
        margin-left: 105px;
      }
    }
    &_bd {
      background-color: #fff;
      height: 0;
      z-index: 1;
    }
    @media @minMobile {
      &:hover {
        .catalog_animate {
          opacity: 1;
          visibility: visible;
        }
        .catalog__wrap_bd {
          position: absolute;
          min-height: 457px;
          top: -1px;
          border: solid 1px @lGrey;
        }
      }
    }
  }
  &__img {  // GOODS ITEMS TILE & LIST IMG
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: auto;
      height: 100%;
    }
  }
  &__title {  // GOODS ITEMS TILE & LIST TITLE
    font-weight: bold;
    
    @media @minMobile {
      margin-top: 17px;
      margin-bottom: 9px;
    }
    @media @mobile {
      margin-top: 8px;
      margin-bottom: 7px;
    }
    &_link {
      display: block;
      text-decoration: underline;
    }
    // &_l {
    //   font-size: 20px;
    // }
  }
  &__description {  // GOODS ITEMS TILE & LIST DESCRIPTION
    display: block;
    color: @lGrey;
    @media @mobile {
      line-height: 19px;
    }
  }
  &__price {  // GOODS ITEMS TILE & LIST PRICE
    color: @orange;
  }
  &__label {  // GOODS ITEMS TILE & LIST LABEL
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    padding: 2px 7px;
    height: 19px;
    display: inline-block;
    &_g {
      background-color: @green;
    }
    &_r {
      background-color: @red;
    }
    &_o {
      background-color: @orange;
    }
  }
  &__hover {  // GOODS ITEMS TILE & LIST HOVER
    .clearfix;
    @media @minMobile {
      &__img {
        min-height: 100%;
        li {
          width: 49px;
          height: 64px;
          border: solid 2px @orange;
          text-align: center;
          line-height: 60px;
          overflow: hidden;
          margin-bottom: 10px;
        }
        img {
          width: auto;
          height: 80%;
          vertical-align: -19px;
        }
      }
    }
    &__action {
      margin-top: 14px;
      .link {
        display: block;
        &:first-child {
          margin-bottom: 7px;
        }
        // @media @minTablet {
        //   &:hover .icon {
        //     fill: @orange;
        //   }
        // }
      }
      .icon {
        fill: @lGrey;
        display: inline-block;
        font-size: 1.4em;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}
.favorite_select,
.compare_select {
  .icon {
    fill: @orange !important;
  }
}