<div class="catalog__wrap catalog__list">
  <div class="catalog__wrap_bd">
    <div class="catalog__view catalog_animate">Быстрый просмотр</div>
    <div class="catalog__img">
      <img src="images/catalog/goods2.jpg">
    </div>
    <div class="catalog__wrap__info">
      <div class="catalog__title">Samsung</div>
      <div class="catalog__description">Смартфон Samsung Galaxy S8+ (SM-G955FZDDSER), желтый топаз</div>
      <span class="catalog__label catalog__label_o">в наличии</span>
    </div>
    <div class="goods__price">55 990 руб.</div>
    <div class="catalog__hover">
      <div class="catalog__hover__img catalog_animate">
        <ul>
          <li><img src="images/catalog/goods2.jpg"></li>
          <li><img src="images/catalog/goods1.jpg"></li>
          <li><img src="images/catalog/goods3.jpg"></li>
        </ul>
      </div>
      <div class="catalog__hover__action catalog_animate">
        <a class="link link_xs catalog__favorite"><svg class="icon icon-heart"><use xlink:href="#heart"></use></svg>Отложить на потом</a>
        <a class="link link_xs catalog__compare"><svg class="icon icon-compare"><use xlink:href="#compare"></use></svg>Добавить к сравнению</a>
      </div>
    </div>
  </div>
</div>