
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.@{noUi-css-prefix}-target,
.@{noUi-css-prefix}-target * {
-webkit-touch-callout: none;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none;
-ms-touch-action: none;
	touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
	user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.@{noUi-css-prefix}-target {
	position: relative;
	direction: ltr;
}
.@{noUi-css-prefix}-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.@{noUi-css-prefix}-connect {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.@{noUi-css-prefix}-origin {
	position: absolute;
	height: 0;
	width: 0;
}
.@{noUi-css-prefix}-handle {
	position: relative;
	z-index: 1;
}
.@{noUi-css-prefix}-state-tap .@{noUi-css-prefix}-connect,
.@{noUi-css-prefix}-state-tap .@{noUi-css-prefix}-origin {
-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.@{noUi-css-prefix}-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.@{noUi-css-prefix}-base,
.@{noUi-css-prefix}-handle {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.@{noUi-css-prefix}-horizontal {
	height: 2px;
}
.@{noUi-css-prefix}-horizontal .@{noUi-css-prefix}-handle {
	.svg-range-dims;
	left: -7px;
	top: -1px;
}
.@{noUi-css-prefix}-vertical {
	width: 18px;
}
.@{noUi-css-prefix}-vertical .@{noUi-css-prefix}-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.@{noUi-css-prefix}-target {
	background: @xlGrey;
}
.@{noUi-css-prefix}-connect {
	background: @orange;
-webkit-transition: background 450ms;
	transition: background 450ms;
}

/* Handles and cursors;
 */
.@{noUi-css-prefix}-draggable {
	cursor: ew-resize;
}
.@{noUi-css-prefix}-vertical .@{noUi-css-prefix}-draggable {
	cursor: ns-resize;
}
.@{noUi-css-prefix}-handle {
	.svg-range;
	.icons;

}

/* Disabled state;
 */

[disabled] .@{noUi-css-prefix}-connect {
	background: #B8B8B8;
}
[disabled].@{noUi-css-prefix}-target,
[disabled].@{noUi-css-prefix}-handle,
[disabled] .@{noUi-css-prefix}-handle {
	cursor: not-allowed;
}

