.goods {
  &__item {
    margin-top: 20px;
    font-size: 14px;
    @media @tablet {
      margin-top: 17px;
    }
  }
  &__title {
    color: @grey;
    margin-bottom: 5px;
  }
  &__description {
    color: @lGrey;
    margin-bottom: 6px;
  }
  &__price {
    color: @orange;
    &_xl {
      font-size: 30px;
    }
  }
}