.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrowBottom {
  font-size:(32/10)*1rem;
  width:(57/32)*1em;
}
.icon-arrowDown {
  font-size:(32/10)*1rem;
  width:(53/32)*1em;
}
.icon-arrowLeft {
  font-size:(32/10)*1rem;
  width:(17/32)*1em;
}
.icon-arrowLine {
  font-size:(32/10)*1rem;
  width:(13/32)*1em;
}
.icon-arrowLineH {
  font-size:(32/10)*1rem;
  width:(13/32)*1em;
}
.icon-arrowRight {
  font-size:(32/10)*1rem;
  width:(17/32)*1em;
}
.icon-arrowTop {
  font-size:(32/10)*1rem;
  width:(57/32)*1em;
}
.icon-bookmark {
  font-size:(32/10)*1rem;
  width:(24/32)*1em;
}
.icon-cart {
  font-size:(32/10)*1rem;
  width:(24/32)*1em;
}
.icon-case {
  font-size:(32/10)*1rem;
  width:(31/32)*1em;
}
.icon-close {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-compare {
  font-size:(32/10)*1rem;
  width:(30/32)*1em;
}
.icon-edit {
  font-size:(32/10)*1rem;
  width:(34/32)*1em;
}
.icon-fb {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-filter {
  font-size:(32/10)*1rem;
  width:(30/32)*1em;
}
.icon-gp {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-heart {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-in {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-list {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-menuArrow {
  font-size:(32/10)*1rem;
  width:(64/32)*1em;
}
.icon-ok {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-pagLeft {
  font-size:(32/10)*1rem;
  width:(20/32)*1em;
}
.icon-pagRight {
  font-size:(32/10)*1rem;
  width:(18/32)*1em;
}
.icon-point {
  font-size:(32/10)*1rem;
  width:(24/32)*1em;
}
.icon-search {
  font-size:(32/10)*1rem;
  width:(34/32)*1em;
}
.icon-tel {
  font-size:(32/10)*1rem;
  width:(24/32)*1em;
}
.icon-tile {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-tw {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-vk {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
.icon-yt {
  font-size:(32/10)*1rem;
  width:(32/32)*1em;
}
