@desctop: ~"only screen and (max-width: 1171px)";
@minDesctop: ~"only screen and (min-width: 1172px)";

@tablet: ~"only screen and (max-width: 1230px)";
@minTablet: ~"only screen and (min-width: 1231px)";

@mobile: ~"only screen and (max-width: 960px)";
@minMobile: ~"only screen and (min-width: 961px)";

@small: ~"only screen and (max-width: 360px)";
.visible-md {
  display: none !important;
}
.visible-mb {
  display: none !important;
}
@media @tablet {
  .visible-md {
    display: block !important;
  }
  .hidden-md {
    display: none !important;
  }
}

@media @mobile {
  .hidden-mb {
    display: none !important;
  }
  .visible-mb {
    display: block !important;
  }
}
