
/*RESET-CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: Tahoma, 'Source Sans Pro';
  font-weight: 400;
  overflow-x: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  box-sizing: border-box;
}
input {
  outline: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.icon-vk {
  fill: #5781ad;
}
.icon-fb {
  fill: #3e6fac;
}
.icon-tw {
  fill: #60b5f0;
}
.icon-in {
  fill: #828083;
}
.icon-gp {
  fill: #ff543c;
}
.icon-ok {
  fill: #ef8c30;
}
.icon-yt {
  fill: #ff3026;
}
/*COLOR*/
@orange: #f39c12;
@orangeH: #f5a916;
@orangeP: #f1900f;

@xxlGrey: #f2f2f2;
@xlGrey: #eaeaea;
@lGrey: #c0c0c0;
@sGrey: #595959;
@grey: #303030;
@green: #52b636;
@greenH: #5dc03f;
@greenP: #47ac2d;
@red: #e43636;
@redH: #ee4747;
@redP: #da2525;
/*FONTS*/
h2, .h2 {
  font-size: 24px;
  color: @grey;
}
h3, .h3 {
  font-size: 20px;
  color: @grey;
}
.title {
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  color: @grey;
  text-transform: uppercase;
  border-bottom: solid 2px @xlGrey;
  letter-spacing: .2em;
  margin-bottom: 10px;
  @media @tablet {
    &.text-center {
      text-align: left;
    }
    border-bottom: none;
    margin-bottom: 0;
  }
  span {
    border-bottom: solid 2px @orange;
    padding-bottom: 16px;
    @media @tablet {
      border-bottom: none;
    }
  }
}

.text-center {
  text-align: center;
}
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &__under {
    text-decoration: underline;
  }
  &_dotted {
    border-bottom: dotted 1px @grey;
  }
  &_s {
    font-size: 13px;
  }
  &_xs {
    font-size: 12px;
  }
  &_h_orange {
    &:hover {
      color: @orange;
    }
    &:active {
      color: @orangeP;
    }
  }
  &_new {
    color: @green;
    &:hover {
      color: @greenH;
    }
    &:active {
      color: @greenP;
    }
  }
  &_sales {
    color: @red;
    &:hover {
      color: @redH;
    }
    &:active {
      color: @redP;
    }
  }
}
.btn {
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  box-shadow: none;
  border: none;
  &__center {
    width: 220px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  &_L {
    font-size: 12px;
    text-transform: uppercase;
    padding: 11px 34px;
    letter-spacing: .1em;
  }
  &_orange {
    background-color: @orange;
    &:hover {
      background-color: @orange;
    }
    &:active {
      background-color: @orangeP;
    }
  }
  &_black {
    background-color: @grey;
    &:hover {
      background-color: @orange;
    }
    &:active {
      background-color: @orangeP;
    }
  }
  &_sales {
    background-color: @red;
    &:hover {
      background-color: @redH;
    }
    &:active {
      background-color: @redP;
    }
  }
  &_new {
    background-color: @green;
    &:hover {
      background-color: @greenH;
    }
    &:active {
      background-color: @greenP;
    }
  }
}
.uppercase {
  text-transform: uppercase;
}
/*GRID*/
.col {
  float: left;
  padding: 0 15px;
  @media @mobile {
    padding: 0 10px;
  }
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
@media @minTablet {
  .col-1-lg {
    width: 8.33333333%;
  }
  .col-2-lg {
    width: 16.66666667%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.33333333%;
  }
  .col-5-lg {
    width: 41.66666667%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-9-lg {
    width: 66.66666667%;
  }
  .col-10-lg {
    width: 83.33333333%;
  }
  .col-11-lg {
    width: 91.66666667%;
  }
}

@media @tablet {
  .col-6-md {
    width: 50%;
  }
  .col-10-md {
    width: 83.33333333%;
  }
  .col-12-md {
    width: 100%;
  }
}
@media @mobile {
  .col-6-mb {
    width: 50%;
  }
  .col-10-mb {
    width: 83.33333333%;
  }
  .col-12-mb {
    width: 100%;
  }
}
@media @small {
  .col-12-sm {
    width: 100%;
  }
}

.container {
  width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  @media @tablet {
    width: 960px;
    padding: 0 20px;
  }
  @media @mobile {
    width: 100%;
    padding: 0 10px;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix, .clearfix,
.row, .row {
  &:before,
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
.row {
  margin: 0 -15px;
  @media @mobile {
    margin: 0 -10px;
  }
}
.input {
  width: 100%;
  height: 100%;
  border: solid 1px @xlGrey;
  border-radius: 3px;
}
.input__default {
  height: 40px;
  border: solid 1px @xlGrey;
  border-radius: 3px;
  width: 100%;
  padding-left: 19px;
  font-size: 14px;
}
.hidden {
  display: none;
}
.tooltip__toggle {
  text-align: center;
  vertical-align: 1px;
  line-height: 15px;
  font-size: 10px;
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: @xlGrey;
}

.toggle__click {
  .icon {
    transform: rotate(-180deg);
  }
  &_active {
    .icon {
      transform: rotate(0);
    }
  }
}