<section class="brands">
  <div class="container">
    <div class="title text-center">
      <span>Популярные бренды</span>
    </div>
    <div class="row brands__scroll scroll">
      <a href="#" class="col brands__col">
        <img src="images/brand/brand1.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand2.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand3.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand4.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand5.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand6.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand7.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand8.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand9.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand10.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand11.jpg">
      </a>
      <a href="#" class="col brands__col">
        <img src="images/brand/brand12.jpg">
      </a>
    </div>
  </div>
</section>