.brands {
  margin-top: 15px;
  @media @tablet {
    margin-bottom: 50px;
    .row {
      white-space: nowrap;
      overflow: auto;
    }
  }
  &__col {
    margin-top: 22px;
    margin-bottom: 15px;
    text-align: center;
    width: 225px;
    @media @tablet {
      float: none !important;
      display: table-cell;
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 15px;
    }
  }
  &__scroll {
    @tablet {
      height: 67px;
      .jspVerticalBar {
        display: none;
      }
    }
  }
}