.fixbar {
  position: fixed;
  -webkit-transform: translateZ(0);
  background-color: @grey;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 44px;
  color: @lGrey;
  font-size: 13px;
  z-index: 10000;
  &__cart {
    width: 394px;
    background-color: #000;
    border-left: solid 1px @sGrey;
    height: 44px;
    padding: 0 0 0 20px;
    vertical-align: middle;
    margin-right: -20px;
    svg {
      fill: @orange;
    }
    .btn {
      margin-top: 5px;
      margin-left: 21px;
      height: 34px;
      text-transform: uppercase;
      width: 146px;
      display: inline-block;
      text-align: center;
    }
    .fixbar__count {
      margin: 0 5px;
      background-color: @orange;
      color: #fff;
    }
  }
  &__left {
    margin-top: 8px;
    a {
      display: inline-block;
      position: relative;
      padding-right: 20px;
      padding-left: 15px;
      &:first-child:after {
        content: '';
        width: 1px;
        height: 44px;
        right: 10px;
        background-color: @sGrey;
        position: absolute;
        top: -8px;
        right: 0;
      }
    }
    svg {
      margin-right: 4px;
      fill: @sGrey;
    }
    .fixbar__count {
      margin-left: 5px;
      background-color: @sGrey;
    }
  }
  svg {
    vertical-align: middle;
    font-size: 1.3em;
  }
  &__count {
    width: 28px;
    height: 28px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    border-radius: 10px;
  }
}