<div class="fixbar clearfix">
  <div class="container">
    <div class="fixbar__cart pull-right">
      <svg class="icon icon-cart"><use xlink:href="#cart"></use></svg>
      Корзина
      <span class="fixbar__count">4</span>
      <span>28 900 руб.</span>
      <a href="" class="btn btn_L btn_orange">Оформить</a>
    </div>
    <div class="fixbar__left pull-right">
      <a href="#" class="link">
        <svg class="icon icon-compare"><use xlink:href="#compare"></use></svg>
        <span>Сравнение</span>
        <span class="fixbar__count">0</span>
      </a>
      <a href="#" class="link">
        <svg class="icon icon-bookmark"><use xlink:href="#bookmark"></use></svg>
        <span>Закладки</span>
        <span class="fixbar__count">0</span>
      </a>
    </div>
  </div>
</div>