<select class="@@selectClass">
  <option value="" data-display-text="@@displayText"></option>
  <option value="@@optionText1">@@optionText1</option>
  <option value="@@optionText2">@@optionText2</option>
  <option value="@@optionText3">@@optionText3</option>
  <option value="@@optionText4">@@optionText4</option>
</select>