.select {
  display: none;
  &__order {
    display: none;
  }
}
.dropdown {
  border: solid 1px @xlGrey;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  outline: none;
  font-size: 14px;
  padding-left: 19px;
  height: 36px;
  line-height: 34px;
  color: @grey;
  .icon {
    font-size: 0.49em;
    float: right;
    -webkit-transition:  all 0.125s ease-in-out;
    -o-transition:  all 0.125s ease-in-out;
    transition:  all 0.125s ease-in-out;
    margin-top: 15px;
    margin-right: 8px;
  }
  .option {
    outline: none;
    padding-left: 16px;
    &:hover {
      background-color: darken(#fff, 10%);
    }
  }
  &.open {
    .icon {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    .option {
      cursor: pointer;
    }
    .dropdown__list {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
      height: auto;
      margin: 4px auto auto;
    }
  }
  &.select {
    margin-top: 10px;
    display: block;
    width: 305px;
    &__order {
      display: block;
    }
  }
  &__list {
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    height: 1px;
    margin: -1px;
    background-color: #fff;
    border-radius: 3px;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 999;
  }
  &__current {
    float: left;
  }
}