.card__good {
  &__nav {
    position: relative;
    display: none;
    // img {
    //   visibility: hidden;
    // }
    @media @minTablet {
      margin-top: 25px;
    }
    @media @tablet {
      margin-top: 29px;
      padding: 0 40px;
    }
    .icon-arrowTop {
      margin-bottom: 18px;
    }
    .icon-arrowBottom {
      margin-top: 22px;
    }
    .icon-arrowTop,
    .icon-arrowBottom {
      margin-left: auto;
      margin-right: auto;
      display: block;
      fill: @lGrey;
      font-size: 1.3em;
      cursor: pointer;
    }
    .icon-arrowRight {
      right: 10px;
    }
    .icon-arrowLeft {
      left: 10px;
    }
    .icon-arrowRight,
    .icon-arrowLeft {
      top: 50%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      display: block;
      fill: @lGrey;
      font-size: 1.5em;
      cursor: pointer;
      margin-top: -12px;
    }
    &.slick-slider {
      cursor: pointer;
      img {
        margin: 0 auto;
        width: auto;
        max-height: 59px;
        visibility: visible;
        @media @tablet {
          max-height: 43px;
        }
      }
    }
    &.slick-initialized .slick-slide {
      @media @tablet {
        width: 49px;
        height: 61px;
        border: solid 2px @orange;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          visibility: visible;
        }
        &:focus {
          outline: none;
        }
      }
    }
    &.slick-vertical .slick-slide {
      border: solid 2px @orange;
      margin: 5px 0;
      height: 81px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      &:focus {
        outline: none;
      }
    }
  }
  &__slide {
    margin-top: 25px;
    float: right;
    position: relative;
    // img {
    //   visibility: hidden;
    // }
    display: none;
    .cursorshadeborder {
      border: solid 1px @xlGrey;
    }
    @media @minTablet {
      &:before {
        content: '';
        .icons;
        .svg-zoom;
        .svg-zoom-dims;
        position: absolute;
        left: 35px;
        top: 20px;
        z-index: 998;
      }
    }
    @media @tablet {
      margin-top: 42px;
    }
    .slick-slide {
      &:focus {
        outline: none;
      }
      img {
        display: none !important;
        margin: 0 auto;
        @media @tablet {
          max-height:   335px;
        }
        @media @minTablet {
          max-height: 445px;
        }
      }
      &.slick-current.slick-active {
        img {
          visibility: visible;
          display: block !important;
        }
      }
    }
  }
}