<section class="popular">
  <div class="container">
    <div class="title text-center">
      <span>Вы недавно смотрели (5)</span>
    </div>
    <div class="popular__slider scroll">
      <div class="owl-carousel">
        <a href="#" class="link">
          <img src="images/popularSlide/slide1.jpg">
          <div class="goods__item">
            <div class="goods__title">
              SONY
            </div>
            <div class="goods__description">Планшет</div>
            <div class="goods__price">1 500 Р</div>
          </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide2.jpg">
          <div class="goods__item">
            <div class="goods__title">
                Bang & Olufsen BeoPlay A2
              </div>
            <div class="goods__description">Акустика</div>
            <div class="goods__price">18 000 Р</div>
          </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide3.jpg">
          <div class="goods__item">
            <div class="goods__title">
              iPhone 7
            </div>
            <div class="goods__description">Смартфон</div>
            <div class="goods__price">23 000 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide4.jpg">
          <div class="goods__item">
            <div class="goods__title">
              Canon PowerShot SX530 HS
            </div>
            <div class="goods__description">Фотоаппарат</div>
            <div class="goods__price">40 000 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide5.jpg">
          <div class="goods__item">
            <div class="goods__title">
              iWatch
            </div>
            <div class="goods__description">Аксессуары</div>
            <div class="goods__price">80 500 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide1.jpg">
          <div class="goods__item">
            <div class="goods__title">
              SONY
            </div>
            <div class="goods__description">Планшет</div>
            <div class="goods__price">1 500 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide2.jpg">
          <div class="goods__item">
            <div class="goods__title">
              Bang & Olufsen BeoPlay A2
            </div>
            <div class="goods__description">Акустика</div>
            <div class="goods__price">18 000 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide3.jpg">
          <div class="goods__item">
            <div class="goods__title">
              iPhone 7
            </div>
            <div class="goods__description">Смартфон</div>
            <div class="goods__price">23 000 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide4.jpg">
          <div class="goods__item">
            <div class="goods__title">
              Canon PowerShot SX530 HS
            </div>
            <div class="goods__description">Фотоаппарат</div>
            <div class="goods__price">40 000 Р</div>
            </div>
        </a>
        <a href="#" class="link">
          <img src="images/popularSlide/slide5.jpg">
          <div class="goods__item">
            <div class="goods__title">
              iWatch
            </div>
            <div class="goods__description">Аксессуары</div>
            <div class="goods__price">80 500 Р</div>
            </div>
        </a>
      </div>
    </div>
  </div>
</section>