@import 'card__good.less';
.card {
  @media @tablet {
    &.inner {
      padding-top: 0;
    }
  }
  .btn {
    padding: 14px 0;
    text-align: center;
  }
  &__title {
    @media @minTablet {
      font-size: 18px;
      line-height: 25px;
    }
    @media @tablet {
      margin-top: 12px;
      font-size: 16px;
      line-height: 22px;
    }
    margin-bottom: 8px;
  }
  .goods__price {
    margin-top: 20px;
    margin-bottom: 26px;
  }
  &__info {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 16px;
    @media @tablet {
      margin-top: 30px;
      margin-left: -10px;
      margin-right: -10px;
      padding: 11px 10px;
      border-top: solid 1px @xlGrey;
      border-bottom: solid 1px @xlGrey;
    }
  }
  &__spec {
    font-size: 13px;
    color: @lGrey;
    line-height: 25px;
    span {
      color: @grey;
    }
  }
  &__color {
    margin-top: 18px;
    font-size: 13px;
    margin-bottom: 30px;
    @media @tablet {
      border-bottom: solid 1px @xlGrey;
      padding-bottom: 20px;
      margin-bottom: 20px;
      span {
        float: left;
        margin-right: 5px;
      }
    }
    ul {
      @media @minTablet {
        margin-top: 14px;
      }
      .clearfix;
      @media @tablet {
        display: inline-block;
      }
    }
    li {
      border: solid 2px @lGrey;
      line-height: 64px;
      vertical-align: top;
      width: 49px;
      height: 64px;
      text-align: center;
      float: left;
      margin: 0 5px;
      overflow: hidden;
      img {
        margin-top: 5px;
        max-height: 50px;
        height: 100%;
        width: auto;
      }
    }
  }
  &__action {
    @media @minTablet {
      margin-top: 25px;
    }
    @media @tablet {
      margin-top: 19px;
    }
    a {
      display: block;
      margin-bottom: 8px;
    }
    .icon {
      fill: @lGrey;
      
      margin-right: 10px;
      @media @minTablet {
        font-size: 1.4em;
        vertical-align: -4px;
      }
      @media @tablet {
        vertical-align: -7px;
        font-size: 1.9em;
      }
    }

  }
  &__param {
    @media @minTablet {
      margin-top: 52px;
    }
    @media @tablet {
      margin-top: 20px;
    }
    .icon-arrowTop {
      font-size: .6em;
      float: right;
      margin-top: 4px;
    }
    ul {
      margin-top: 16px;
    }
    li {
      font-size: 13px;
      line-height: 20px;
      color: @grey;
      margin-bottom: 8px;
      span {
        color: @lGrey;
      }
    }
    p {
      font-size: 13px;
      color: @lGrey;
      line-height: 17px;
      margin-top: 17px;
    }
    
    &__title {
      font-size: 16px;
      @media @tablet {
        margin-left: -10px;
        margin-right: -10px;
        padding: 20px 10px;
        background-color: @xlGrey;
      }
    }
  }
  &__right {
    @media @minTablet {
      float: right;
      .catalog__label {
        display: none;
      }
    }
    @media @tablet {
      .pull-left {
        width: calc(~'100% - 120px');
      }
      width: 100%;
      
      .card__title {
        display: inline-block;
      }
      .catalog__label {
        display: inline-block;
      }
    }
    @media @minTablet {
      margin-right: 10px;
      margin-left: -30px;
      width: 210px;
    }
  }
  &__brand {
    padding-bottom: 19px;
    @media @minTablet {
      margin-top: 26px;
      border-bottom: solid 1px @xlGrey;
    }
    @media @tablet {
      margin-top: 20px;
      float: right;
      max-width: 68px;
      text-align: right;
    }
    .link {
      margin-top: 5px;
      display: block;
      @media @tablet {
        font-size: 11px;
        line-height: 16px;
      }
    }
    img {
      @media @tablet {
        width: 100%;
        height: auto;
      }
      @media @minTablet {
        max-width: 118px;
      }
    }
  }
  &__dev {
    margin-top: 24px;
    @media @tablet {
      border-bottom: solid 1px @xlGrey;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 15px;
      @media @tablet {
        margin-left: -10px;
        margin-right: -10px;
        padding: 20px 10px;
        background-color: @xlGrey;
      }
      .icon {
        float: right;
        font-size: .6em;
        margin-top: 4px;
      }
    }
    li {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 8px;
      color: @grey;
      .grey {
        @media @minTablet {
          display: block;
        }
        
        color: @lGrey;
      }
      .orange {
        color: @orange;
        font-weight: 700;
        letter-spacing: .07em;
        text-transform: uppercase;
      }
    }
  }
}