.count {
  border: solid 1px @lGrey;
  border-radius: 3px;
  text-align: center;
  font-size: 0;
  display: inline-block;
  user-select: none;
  @media @minMobile {
    line-height: 20px;
    height: 22px;
    width: 76px;
  }
  @media @mobile {
    height: 28px;
    line-height: 26px;
    width: 95px;
  }
  input {
    font-size: 13px;
    border: none;
    text-align: center;
    vertical-align: middle;
    @media @minMobile {
      width: 30px;
    }
    @media @mobile {
      width: 38px;
    }
  }
  .minus,
  .plus {
    vertical-align: middle;
    cursor: pointer;
    font-size: 13px;
    position: relative;
    display: inline-block;
    @media @minMobile {
      width: 20px;
      height: 20px;
    }
    @media @mobile {
      width: 27px;
      height: 26px;
    }
    &:before {
      content: '';
      background-color: @lGrey;
      width: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -4px;
      margin-top: -1px;
      height: 2px;
    }
  }
  
  .minus {
    border-right: solid 1px @lGrey;
  }
  .plus {
    border-left: solid 1px @lGrey;
    &:after {
      background-color: @lGrey;
      content: '';
      position: absolute;
      height: 8px;
      width: 2px;
      left: 50%;
      top: 50%;
      margin-left: -1px;
      margin-top: -4px;
    }
  }
}