.icons {
  background: url("../images/sprite.svg") no-repeat;
}

.svg-check {
  background-position: 100% 0;
}

.svg-check-dims {
  width: 14px;
  height: 14px;
}

.svg-checked {
  background-position: 0 100%;
}

.svg-checked-dims {
  width: 14px;
  height: 14px;
}

.svg-radio {
  background-position: 40% 100%;
}

.svg-radio-dims {
  width: 14px;
  height: 14px;
}

.svg-radio-check {
  background-position: 80% 100%;
}

.svg-radio-check-dims {
  width: 14px;
  height: 14px;
}

.svg-range {
  background-position: 0 0;
}

.svg-range-dims {
  width: 16px;
  height: 22px;
}

.svg-zoom {
  background-position: 53.333333333333336% 0;
}

.svg-zoom-dims {
  width: 19px;
  height: 17px;
}

