.fancybox-slide .modal {
  padding: 50px;
}
.fancybox-container .fancybox-bg {
  background-color: #fff;
}
.modal {
  display: none;
  width: 510px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  .fancybox-close-small {
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 0;
    transform: rotate(45deg);
    top: 8px;
    right: 8px;
    &:hover:after {
      background-color: @grey;
    }
    &:after {
      top: 50%;
      margin-top: -1px;
      width: 100%;
      height: 2px;
      left: 0;
      // transform: rotate(45deg);
    }
    &:before {
      top: 0;
      left: 50%;
      margin-left: -1px;
      width: 2px;
      height: 100%;
      // transform: rotate(-45deg);
    }
    &:after,
    &:before {
      content: '';
      background-color: @grey;
      position: absolute;
    }
  }
  &__border {
    border: solid 1px @xlGrey;
    padding: 30px;
    input {
      margin-bottom: 15px;
    }
  }
  &__title {
    padding: 20px 30px;
    border-left: solid 1px @xlGrey;
    border-right: solid 1px @xlGrey;
    border-top: solid 1px @xlGrey;
    border-bottom: solid 2px @orange;
    box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, 0.07);
  }
  .btn {
    text-transform: uppercase;
    width: 100%;
    height: 40px;
  }
  label {
    font-size: 11px;
    color: @lGrey;
    letter-spacing: .08em;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
  }
}