<div class="modal" id="reg">
  <div class="modal__title">
    Регистрация
  </div>
  <div class="modal__form modal__border">
    <input class="input__default" type="" name="" placeholder="Имя">
    <label>для обращения к Вам</label>
    <input class="input__default" type="" name="" placeholder="+( _ _ _ ) _ _ _ - _ _ - _ _">
    <label>телефон для подтверждения покупки</label>
    <input class="input__default" type="" name="" placeholder="E-mail">
    <label>e-mail будет служить логином для входа на сайт</label>
    <input type="text" class="input__default" placeholder="Придумайте пароль">
    <input type="text" class="input__default" placeholder="Повторите пароль">
    <input class="btn btn_orange" type="button" value="Зарегистрироваться">
  </div>
</div>