<div class="modal" id="signin">
  <div class="modal__title">Вход</div>
  <div class="modal__border">
    <div class="modal__form">
      <input class="input__default" type="" name="" placeholder="E-mail">
      <input class="input__default" type="" name="" placeholder="Пароль">
      <input class="btn btn_orange" type="button" value="Войти">
    </div>
  </div>
</div>