@@include('../modal/modal.html')
@@include('../top-bar/top-bar.html')
<header class="header">
  <div class="container">
    <div class="header__top clearfix">
      <div id="menuToggleLevel" class="menu__toggle slide__content"></div>
      <a href="index.html" class="header__logo pull-left">
        <img src="images/logo.jpg">
      </a>
      <div class="header__form pull-left">
        <div class="header__search">
          <input type="text" class="input hidden-md" name="" id="" placeholder="Поиск по сайту">
          <svg class="icon icon-search"><use xlink:href="#search"></use></svg>
        </div>
        <div class="header__select hidden-md">
          @@loop('../select/select.html', [
            {
              "selectClass": "select pull-left",
              "displayText": "Выберите бренд",
              "optionText1": "Бренд 1",
              "optionText2": "Бренд 2",
              "optionText3": "Бренд 3",
              "optionText4": "Бренд 4"
            },
            {
              "selectClass": "select pull-right",
              "displayText": "Выберите модель",
              "optionText1": "Модель 1",
              "optionText2": "Модель 2",
              "optionText3": "Модель 3",
              "optionText4": "Модель 4"
            }
          ])
        </div>
      </div>
      <div class="header__user pull-right">
        <div class="header__reg menu__level_animate hidden-md">
          <a class="link link_s link_h_orange" data-fancybox data-src="#reg" href="javascript:;">Регистрация</a> | <a class="link link_s link_h_orange" data-fancybox data-src="#signin" href="javascript:;">Войти</a>
        </div>
        <div class="header__cart uppercase">
          <div class="cart__count visible-md">
            58
          </div>
          <svg class="icon icon-cart"><use xlink:href="#cart"></use></svg>
          <span class="hidden-md">Корзина</span>
        </div>
      </div>
    </div>
    @@include('../menu__level/menu__level.html')
  </div>
</header>