.cart__count {
  width: 23px;
  height: 20px;
  color: #fff;
  background-color: @orange;
  font-size: 11px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  line-height: 20px;
  position: absolute;
  top: -8px;
  right: -6px;
}
.header {
  margin-top: 14px;
  color: @grey;
  @media @tablet {
    margin-top: 0;
    .container {
      .clearfix;
    }
  }
  @media @mobile {
    padding-right: 10px;
  }
  &__top {
    border-bottom: solid 2px @orange;
    padding-bottom: 16px;
    @media @tablet {
      text-align: center;
      border-bottom: solid 1px @xlGrey;
      padding-bottom: 8px;
      margin-left: -10px;
      margin-right: -10px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
  &__logo {
    @media @tablet {
      float: none;
      display: inline-block;
      width: 160px;
      margin-top: 6px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .icon-search,
  .icon-cart {
    fill: @lGrey;
  }
  &__form {
    margin-left: 55px;
    width: 620px;
    @media @tablet {
      float: none;
      margin-left: 0;
      position: absolute;
      width: 24px;
      right: 54px;
      top: 16px;
      height: 24px;
    }
    @media @small {
      width: 40px;
      right: 32px;
    }
  }
  &__search {
    height: 40px;
    font-size: 16px;
    color: @grey;
    position: relative;
    // @media @tablet {
    //   width: 24px;
    // }
    input {
      font-size: 16px;
      padding-left: 16px;
      letter-spacing: -0.04em;
    }
    .icon {
      position: absolute;
      top: 11px;
      right: 8px;
      font-size: 1.2em;
      @media @tablet {
        position: relative;
        right: 0;
        left: 0;
        top: 0;
        font-size: 1.6em;
      }
    }
  }
  &__user {
    margin-top: 19px;
    @media @tablet {
      margin-top: 0;
      float: right;
    }
  }
  &__reg {
    @media @tablet {
      border-bottom: solid 1px @lGrey;
      padding-bottom: 24px;
      padding-left: 21px;
      .link_s {
        font-size: 14px;
        color: @sGrey;
      }
    }
  }
  &__cart {
    text-align: right;
    font-size: 13px;
    margin-top: 13px;
    position: relative;
    @media @tablet {
      margin-top: 18px;
      margin-right: 3px;
    }
    .icon {
      vertical-align: -2px;
      font-size: 1.3em;
      margin-right: 4px;
      @media @tablet {
        font-size: 1.9em;
        fill: @grey;
      }
    }
  }

  &__nav {
    @media @minTablet {
      text-align: justify;
      margin: 10px -30px 0;
      position: relative;
      font-size: 14px;
      &:before {
        width: 52px;
        height: 100%;
        content: '';
        background-color: #fff;
        right: -22px;
        position: absolute;
        top: 0;
        z-index: 10;
      }
      &__sub {
        -webkit-transform-origin: 50% 0;
        -webkit-transition: opacity 0.2s ease;
        background-color: #fff;
        border: solid 1px @xlGrey;
        box-shadow: 0px 0 7px rgba(0, 0, 0, 0.1);
        color: @grey;
        height: 0;
        margin: -1px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 460%;
        transform-origin: 50% 0;
        transition: opacity 0.2s ease;
        white-space: nowrap;
        z-index: 999;
        &:hover {
          color: @grey;
        }
        &_left {
          left: 11px;
        }
        &_right {
          right: -13px;
        }
        li {
          display: inline-block;
          text-align: left;
          text-transform: none;
          padding: 0 10px;
          > ul li {
            display: block;
            padding: 0;
            margin-top: 16px;
          }
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
      &__link {
        position: relative;
        display: block;
        padding: 0 30px;
      }
      &__item {
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        margin-top: 12px;
        &:before {
          // -webkit-transition: opacity 0.2s linear;
          // transition: opacity 0.2s linear;
          box-shadow: 0px -3px 16px -3px rgba(0, 0, 0, 0.1);
          content: '';
          opacity: 0;
          width: 100%;
          height: 0;
          position: absolute;
          left: 11px;
          top: -19px;
          border-top: solid 1px @xlGrey;
          border-left: solid 1px @xlGrey;
          border-right: solid 1px @xlGrey;
          border-bottom: solid 1px #fff;
          background-color: #fff;
        }
        &:hover {
          // filter: drop-shadow(3px 0px 7px rgba(0, 0, 0, 0.1));

          // z-index: 1000;
          .header__nav__link {
            z-index: 1003;
          }
          &:before {
            z-index: 102;
            opacity: 1;
            height: 82px;
            z-index: 1000;
          }
          .header__nav__sub {
            margin: auto;
            height: auto;
            opacity: 1;
            pointer-events: auto;
            padding: 28px 45px 39px 10px;
          }
        }
        span {
          border-top: dashed 1px;
          border-bottom: dashed 1px;
          padding-top: 1px;
          padding-bottom: 1px;
          border-color: inherit;
        }
        &:after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: @lGrey;
          position: absolute;
          right: -10px;
          top: 50%;
          margin-top: -2px;
        }
      }
    }
  }
}

.header__bottom {
  margin-bottom: 10px;
  @media @tablet {
    margin-bottom: 0;
  }
}

