<ul class="header__nav__sub header__nav__sub_right clearfix menu__sub menu__sub_level menu__level_animate">
  <li class="">
    <div class="uppercase menu__sub__toggle">
      <div class="menu__sub__back menu__level_animate">
        <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
        Назад
      </div>
      <a href="#" class="link link_h_orange toggle__item">Для ноутбуков</a>
    </div>
    <ul class="menu__sub menu__sub_level menu__level_animate">
      <li><a href="" class="link link_h_orange toggle__item">Сумки для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Рюкзаки для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Чехлы для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Адиптеры питания для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Док-станции</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Опции и принадлежности</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Подставки для ноутбуков</a></li>
    </ul>
  </li>
  <li class="">
    <div class="uppercase menu__sub__toggle">
      <div class="menu__sub__back menu__level_animate">
        <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
        Назад
      </div>
      <a href="#" class="link link_h_orange toggle__item">Для смартфонов</a>
    </div>
    <ul class="menu__sub menu__sub_level menu__level_animate">
      <li><a href="" class="link link_h_orange toggle__item">Сумки для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Рюкзаки для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Чехлы для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Адиптеры питания для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Док-станции</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Опции и принадлежности</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Подставки для ноутбуков</a></li>
    </ul>
  </li>
  <li class="">
    <div class="uppercase menu__sub__toggle">
      <div class="menu__sub__back menu__level_animate">
        <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
        Назад
      </div>
      <a href="#" class="link link_h_orange toggle__item">Для техники</a>
    </div>
    <ul class="menu__sub menu__sub_level menu__level_animate">
      <li><a href="" class="link link_h_orange toggle__item">Сумки для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Рюкзаки для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Чехлы для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Адиптеры питания для ноутбуков</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Док-станции</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Опции и принадлежности</a></li>
      <li><a href="" class="link link_h_orange toggle__item">Подставки для ноутбуков</a></li>
    </ul>
  </li>
</ul>