.checkbox {
  cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: -2px;
    margin-right: 12px;
    .icons;
    .svg-check;
    .svg-check-dims;
  }
}
input[type="checkbox"]:checked+.checkbox {
  &:before {
    .icons;
    .svg-checked;
    .svg-checked-dims;
  }
}