<div class="menu__level">
  <div class="header__bottom menu__wrapper">
    <ul class="header__nav menu__content menu__level_animate">
    <!-- level1 menu1 -->
      <li class="link_h_orange header__nav__item menu__content__sub">
        <ul class="menu__sub__toggle">
          <li class="header__reg menu__level_animate visible-md">
            <a href="" class="link link_s link_h_orange">Регистрация</a> | <a href="" class="link link_s link_h_orange">Войти</a>
          </li>
          <li>
            <div class="menu__sub__back menu__level_animate">
              <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
              Назад
            </div>
            <a href="#" class="toggle__item header__nav__link link uppercase">Аксессуары</a>
          </li>
        </ul>
      <!-- level1 toggle level2 -->
        @@include('../header/headerSubL.html')
      <!-- END level2 menu1 -->
      </li>
    <!-- END level1 menu1 -->
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Смартфоны</a>
        </div>
        @@include('../header/headerSubL.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Планшеты</a>
        </div>
        @@include('../header/headerSubL.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Фото/видео техника</a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Автомобильная электроника</a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Транспорт</a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Акустика</a>
        </div>
        @@include('../header/headerSubL.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Часы и браслеты</a>
        </div>
        @@include('../header/headerSubL.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Виртуальная реальность</a>
        </div>
        @@include('../header/headerSubL.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Роботы</a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="link_h_orange header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase">Игрушки</a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="link_new header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase"><span>Новинки</span></a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="link_sales header__nav__item menu__content__sub">
        <div class="menu__sub__toggle">
          <div class="menu__sub__back menu__level_animate">
            <svg class="icon icon-arrowLeft"><use xlink:href="#arrowLeft"></use></svg>
            Назад
          </div>
          <a href="#" class="toggle__item header__nav__link link uppercase"><span>Распродажа</span></a>
        </div>
        @@include('../header/headerSubR.html')
      </li>
      <li class="visible-md">
        @@include('../footer/footer.html')
      </li>
    </ul>
  </div>
</div>