.menu__sub__back {
  display: none;
}
@media @tablet {
  @import '../menu__level/menu__level';
  .title {
    cursor: pointer;
  }
  .menu {
    &__level { /*Change menu content size*/
      z-index: 100000;
      .container {
        width: 305px;
      }
      padding-top: 20px;
      float: left;
      width: 0;
      position: fixed;
      left: 0;
      top: 0;
      overflow: auto;
      height: 100%;
      background-color: @xxlGrey;
      box-shadow: inset -5px 0 10px rgba(0, 0, 0, 0.07);
      .link_h_orange:hover {
        color: @grey;
      }
      &_active{
        width: 305px;
      }
      &_animate {
        -webkit-transition: left .2s ease-in-out;
        -o-transition: left .2s ease-in-out;
        transition: left .2s ease-in-out;
      }
    }
    &__toggle {  /*Change toggle size by adjusting width & height*/
      cursor: pointer;
      height: 20px;
      margin-top: 21px;
      position: relative;
      width: 22px;
      float: left;
      i {  /*Change toggles color here*/
        cursor: pointer;
        background-color: @grey;
        border-radius: 3px;
        height: 20%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        &:nth-child(2) {
          top: 40%;
        }
        &:nth-child(3) {
          top: 80%;
        }
      }
    }
    &__wrapper {
      overflow: hidden;
      position: relative;
    }
    &__content {  /*Default content is hidden*/
      position: absolute;
      height: 100%;
      width: 0;
      left: -100%;
      top: 0;
      &_active {  /*Position showing content*/
        left: 0;
        width: 100%;
        position: relative;
      }
      &__sub {
        position: relative;
        overflow: hidden;
        width: 100%;
        &_hide {
          display: none;
        }
      }
    }
    &__sub {
      padding: 0;
      position: absolute;
      height: 100%;
      width: 0;
      left: -100%;
      top: 0;
      cursor: pointer;
      &__level {
        background-color: #fff;
        &_active {
          left: 0;
          width: 100%;
          position: relative;
        }
      }
      &__toggle {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border-bottom: solid 1px @xlGrey;
        &_hide {
          position: absolute;
          left: -100%;
        }
        &_active {
          left: 0;
          position: relative;
          > .menu__sub__back {
            left: 0;
            position: relative;
            width: 100%;
          }
          li > .menu__sub__back{
              left: 0;
              position: relative;
              width: 100%;
          }
          .header__reg {
            display: none !important;
          }
          .toggle__item {
            background-color: @xlGrey;
          }

        }
      }
      &__back {
        display: block;
        position: absolute;
        left: -100%;
        top: 0;
        padding-left: 21px;
        padding-bottom: 20px;
        line-height: 20px;
        font-size: 14px;
        text-transform: none;
        .icon {
          vertical-align: -2px;
          font-size: 1em;
          margin-right: 5px;
        }
      }
      &_active {

      }
    }
    &__shift {
      float: left;
      width: 100%;
      position: relative;
      left: 0;
      &_active {
        // box-shadow: -3px 0 7px rgba(0,0,0,.07);
        position: absolute;
        left: 305px;
      }
    }
  }
  .toggle__item {
    display: block;
    font-size: 14px;
    padding-bottom: 18px;
    padding-left: 21px;
    padding-top: 17px;
  }
}

@media @small {
  .menu__shift_active {
    left: 250px;
  }
  .menu__level_active {
    width: 250px;
  }
  
}
.menu__level {
  @media @mobile {
    .container {
      width: 100%;
    }
  }
}