<footer class="footer">
  <div class="container">
    <div class="clearfix">
      <div class="pull-left">
        <div class="footer__icon clearfix">
          <svg class="icon icon-point"><use xlink:href="#point"></use></svg>
          <a href="" class="link link_h_orange">Пункты самовывоза</a>
        </div>
        <div class="footer__icon clearfix">
          <svg class="icon icon-case"><use xlink:href="#case"></use></svg>
          <a href="" class="link link_h_orange">Партнерам</a>
        </div>
      </div>
      <div class="pull-left footer__links footer__service">
        <div class="footer__title">
          Сервис и поддержка
        </div>
        <ul>
          <li> <a href="#" class="link link_h_orange">Как сделать заказ</a></li>
          <li> <a href="#" class="link link_h_orange">Возврат товара</a></li>
          <li> <a href="#" class="link link_h_orange">Публичная оферта</a></li>
          <li> <a href="#" class="link link_h_orange">Доставка</a></li>
        </ul>
        <ul>
          <li><a href="#" class="link link_h_orange">Способы оплаты</a></li>
          <li><a href="#" class="link link_h_orange">Правила продажи</a></li>
          <li><a href="#" class="link link_h_orange">Возврат денежных средство</a></li>
          <li><a href="#" class="link link_h_orange">Вопросы и ответы</a></li>
        </ul>
      </div>
      <div class="pull-left footer__links footer__about">
        <div class="footer__title">
          О компании
        </div>
        <ul>
          <li><a href="#" class="link link_h_orange">О нас</a></li>
          <li><a href="#" class="link link_h_orange">Контакты</a></li>
          <li><a href="#" class="link link_h_orange">Вакансии</a></li>
          <li><a href="#" class="link link_h_orange">Партнерам</a></li>
        </ul>
        <ul>
          <li><a href="#" class="link link_h_orange">Сертификаты</a></li>
          <li><a href="#" class="link link_h_orange">Преимущества</a></li>
          <li><a href="#" class="link link_h_orange">Наши скидки</a></li>
        </ul>
      </div>
      <div class="pull-left footer__social">
        <div class="footer__title">
          Следуйте за нами
        </div>
        <ul>
          <li><a href=""><svg class="icon icon-vk"><use xlink:href="#vk"></use></svg></a></li>
          <li><a href=""><svg class="icon icon-fb"><use xlink:href="#fb"></use></svg></a></li>
          <li><a href=""><svg class="icon icon-tw"><use xlink:href="#tw"></use></svg></a></li>
          <li><a href=""><svg class="icon icon-in"><use xlink:href="#in"></use></svg></a></li>
          <li><a href=""><svg class="icon icon-gp"><use xlink:href="#gp"></use></svg></a></li>
          <li><a href=""><svg class="icon icon-ok"><use xlink:href="#ok"></use></svg></a></li>
          <li><a href=""><svg class="icon icon-yt"><use xlink:href="#yt"></use></svg></a></li>
        </ul>
      </div>
    </div>
    <div class="footer__rights">
      <p>
      2005-2017 © Мандарин — модный интернет-магазин одежды, обуви
      и аксессуаров. Все права защищены. Доставка по всей России!
      </p>
    </div>
  </div>
</footer>