.footer {
  background-color: @xxlGrey;
  padding: 36px 0;
  margin-top: 55px;
  padding-bottom: 60px;
  font-size: 14px;
  @media @tablet {
    margin-top: 0;
    padding-top: 14px;
    border-top: solid 2px @lGrey;
    background-color: transparent;
    .pull-left {
      float: none;
    }
  }
  &__icon {
    position: relative;
    border: solid 2px #fff;
    height: 60px;
    padding-top: 10px;
    vertical-align: middle;
    line-height: 30px;
    margin: 5px 0 9px;
    padding-left: 48px;
    padding-right: 7px;
    @media @tablet {
      width: 121px;
      display: inline-block;
      padding-left: 42px;
      &:first-child {
        margin-right: 3px;
      }
    }
    @media @small {
      width: 100%;
      &:first-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
    svg {
      // display: inline-block;
      position: absolute;
      left: 10px;
      top: 12px;
      fill: @lGrey;
      font-size: 1.8em;
      // vertical-align: top;
      // margin-left: 5px;
      // margin-right: 5px;
      &.icon-point {
        left: 13px;
      }
    }
    .link {
      line-height: 17px;
      display: inline-block;
      font-size: 13px;
      width: 80px;
    }
  }
  &__links{
    margin-top: 10px;
    @media @tablet {
      border-right: none !important;
      border-top: solid 1px @lGrey;
      padding-left: 20px;
      padding-top: 34px;
      padding-right: 20px !important;
      margin-right: -20px;
      .footer__title {
        margin-bottom: 21px;
      }
      &.footer__service,
      &.footer__about {
        margin-left: -20px !important;
        margin-right: -20px !important;
      }
    }
    ul {
      padding-top: 0;
      line-height: 20px;
      float: left;
      color: @lGrey;
      @media @tablet {
        float: none;
        padding-top: 0;
      }
    }
    li {
      font-size: 12px;
      @media @tablet {
        padding-bottom: 10px;
        .link {
          font-size: 14px;
        }
      }
    }
  }
  &__service {
    margin-left: 52px;
    padding-right: 54px;
    border-right: solid 1px #fff;
    @media @tablet {
      margin-left: -20px !important;
      margin-right: -20px !important;
    }
    ul:first-of-type {
      margin-right: 100px;
    }
  }
  &__about {
    margin-left: 25px;
    padding-right: 55px;
    border-right: solid 1px #fff;
    ul:first-of-type {
      margin-right: 80px;
    }
  }
  &__title {
    margin-bottom: 15px;
    font-size: 15px;
    color: @grey;
  }
  &__social {
    margin-top: 10px;
    margin-left: 30px;
    width: 151px;
    @media @tablet {
      border-top: solid 1px @lGrey;
      padding-left: 20px;
      padding-top: 34px;
      padding-right: 20px !important;
      margin-right: -20px;
      width: auto;
      margin-left: -20px;
    }
    ul {
      margin: 15px -2px;
    }
    li {
      display: inline-block;
      margin: 0 2px;
      line-height: 32px;
    }
    svg {
      font-size: 1.9em;
      @media @tablet {
        font-size: 1.7em;
      }
    }
  }
  &__rights {
    margin-top: 21px;
    padding-top: 22px;
    line-height: 20px;
    border-top: solid 1px #fff;
    font-size: 12px;
    @media @tablet {
      border-color: @lGrey;
      margin-left: -20px;
      padding-left: 20px;
      margin-right: -20px;
      padding-right: 20px;
    }
    p {
      width: 390px;
      @media @tablet {
        width: 206px;
      }
    }
  }
}
