.top-bar {
  background-color: @orange;
  color: #fff;
  padding-top: 5px;
  font-size: 14px;
  height: 30px;
  &__tel {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    .icon {
      vertical-align: -3px;
      margin-right: 10px;
      fill: #fff;
      font-size: 1.2em;
    }
  }
  &__name {
    margin-top: 2px;
  }
}