<div class="top-bar hidden-md">
  <div class="container clearfix">
    <div class="pull-left">
      <a class="link top-bar__tel" href="tel:88005555555"><svg class="icon icon-tel"><use xlink:href="#tel"></use></svg>8 800 555-55-55</a>
    </div>
    <div class="pull-right top-bar__name">
      Продажа гаджетов и акскссуаров из Китая
    </div>
  </div>
</div>