.breadcrumbs {
  font-size: 11px;
  @media @tablet {
    background-color: @xlGrey;
    padding: 13px 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
  margin-bottom: 10px;
  li {
    display: inline-block;
  }
  a, li {
    color: @lGrey;
  }
}