.sort {
  font-size: 13px;
  @media @tablet {
    display: none;
    &.dropdown {
      display: block;
      height: 40px;
      padding-left: 15px;
    }
  }
  @media @minTablet {
    margin-top: 23px;
  }
  li {
    @media @minTablet {
      display: inline-block;
    }
  }
  &__title {
    color: @lGrey;
    @media @minTablet {
      margin-right: 6px;
    }
  }
  svg {
    vertical-align: middle;
    fill: @grey;
    font-size: 1em;
    margin: 0 5px 0 4px;
  }
  &_up {
    transform: rotate(180deg);
  }
}