<ul class="sort hidden-md">
  <li class="sort__title">Сортировать по:</li>
  <li class="sort__item link link_s"><span class="link_dotted">алфавиту</span><svg class="icon icon-arrowLine"><use xlink:href="#arrowLine"></use></svg>|</li>
  <li class="sort__item link link_s"><span class="link_dotted">цене</span><svg class="icon icon-arrowLine sort_up"><use xlink:href="#arrowLine"></use></svg>|</li>
  <li class="sort__item link link_s"><span class="link_dotted">популярности цены</span><svg class="icon icon-arrowLine sort_up"><use xlink:href="#arrowLine"></use></<span class="link_dashed">svg><</span>/li>
</ul>
