.personal {
  margin-bottom: 240px;
  li {
    margin-top: 30px;
    display: inline-block;
    margin-right: 80px;
    @media @tablet {
      padding-right: 0;
      width: 100%;
      .icon {
        float: right;
      }
    }
  }
  &__name {
    font-size: 14px;
    color: @lGrey;
  }
  &__input {
    margin-top: 12px;
    font-size: 18px;
    color: @grey;
  }
  .icon {
    margin-left: 13px;
    fill: @lGrey;
    font-size: .94em;
  }
}