.popular {
  padding-top: 25px;
  @media @tablet {
    padding-top: 6px;
  }
  &__slider {
    @media @tablet {
      white-space: nowrap;
      overflow: auto;
    }
    .owl-carousel {
      position: relative;
      margin-top: 30px;
      @media @tablet {
        padding-bottom: 21px;
        margin-top: 0;
        display: block !important;
        .link {
          display: inline-block;
          width: 158px;
          margin-right: 10px;
          img {
            width: 100%;
          }
        }
      }
      .owl-nav {
        position: absolute;
        top: 120px;
        width: 100%;
        z-index: 100;
        svg {
          fill: @lGrey;
          font-size: 2.6em;
        }
      }
      .owl-item {
        @media @tablet {
          width: 157px !important;
        }
      }
      .owl-prev {
        position: absolute;
        left: -50px;
      }
      .owl-next {
        position: absolute;
        right: -50px;
      }
    }
  }
}


